@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1;
  /* background-color: black; */
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

html {
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

@font-face {
  font-family: "Blur-Regular";
  src: url("https://db.onlinewebfonts.com/t/7e8601c112331686d7e3e6b525d0793b.eot");
  src: url("https://db.onlinewebfonts.com/t/7e8601c112331686d7e3e6b525d0793b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7e8601c112331686d7e3e6b525d0793b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7e8601c112331686d7e3e6b525d0793b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7e8601c112331686d7e3e6b525d0793b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7e8601c112331686d7e3e6b525d0793b.svg#BlurWeb-Light W03 Regular")format("svg");
}


.text-wrap a {
  color: #00285c;
  display: block;
/* text-align: center; */
  gap: .5rem;
  transition: all .25s ease;
  transition-property: color;

}

.text-wrap a:after {
  content: "\00a0 â‡";
  transform: rotate(-45deg);
  display: inline-block;
}

.text-wrap a:hover {
  color: blue;

}
.back{
  transform: rotate(45deg);
  display: inline-block;
  position: absolute;
  left: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 700
}

h1 {
  font-size: 1.6em
}

h2 {
  font-size: 1em;
  padding: 20px;
  text-align: center;
}

h3 {
  font-size: 1em;
  text-align: center;
}

h4,
h5,
h6 {
  font-size: 1em
}

strong {
  font-weight: 700
}

em {
  font-style: italic
}

ul,
ol {
  margin: 1rem 0;
  padding-left: 1rem
}

ul {
  list-style-type: disc
}

ol {
  list-style-type: decimal
}

hr {
  margin: 2rem 0;
  height: 1px;
  border: none;
  background-color: currentColor;
  opacity: .25
}

.gap {
  width: 1rem;
  display: inline-block
}

:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #b4b4b4;
  --darkGrey: #9f9f9f;
  --spacing: .25rem
}

::-moz-selection {
  color: #d93c3c;
  background: black;
}

::selection {
  color: #d93c3c;
  background: black;
}

html {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@media (min-width: 1920px) {
  html {
    font-size: 28px
  }
}

html.loading {
  cursor: progress !important
}

#smooth-wrapper {
  transform: translateZ(0);
  height: 100vh !important;
}

body {
  font-family: Blur-Regular, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  background-color: var(--white)
}

@media (max-width: 1000px) {
  body {
    background-color: var(--black)
  }
}

@media (max-width: 500px) {
  body {
    font-size: .7rem
  }
}

.header {
  position: fixed;
top: 1rem;
  width: 100vw;
  text-align: center;
  /* background-color: red; */
  color: var(--white);
  z-index: 1000;
  mix-blend-mode: exclusion;
  font-size: 1.6rem;
  /* opacity: 0; */

}


.logo {
  filter: blur(0px);
  transition: filter 0.3s, font-weight 0.3s;
   font-family: "BlurWeb-Light W03 Regular";
  font-weight: 400;
  font-style: normal;
}

.logo:hover {
   filter: blur(3px);
  font-weight: 900;
}



@media (max-width: 500px) {
  .header {
    top: .5rem
  }
}
/* #overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  background-color: black;
  display: none;
  transition: opacity 1.5s ease-out;
} */
#box {
  /* Center the text in the viewport. */
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;
  filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-family: "BlurWeb-Bold W03 Regular";
  font-weight: 400;
  font-size: 2em;
  font-style: normal;
  text-align: center;
  user-select: none;
  color: white;
}
.overlay-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  /* margin-top: 10%; */
  position: fixed;
  filter: contrast(80%) grayscale(100%);
  /* filter: contrast(200%); */
  mix-blend-mode: overlay;
}
@media (max-width: 650px) {
  .overlay-img {
    width: 100%;
  }
}


.info-title {
  z-index: 200;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  padding: .5rem;
  visibility: hidden;
  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
}

.project-titles__title .text-wrap {
  max-width: 30rem;
  margin-inline: auto;
  text-align: center;
}


.project-titles__title {
  z-index: 500;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  visibility: hidden;
}


.project-images {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: black;
}
.quote-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.title-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
  .quote-image {
    width: 100%;
  }
}

.project-images__image {
  width: 100%;
  height: 100vh;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  

  -webkit-mask-image: linear-gradient(to bottom, transparent, black 25%, black 75%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 25%, black 75%, transparent);
  
  
}

.project-images__image[data-index="0"] {
  transform: translateY(-1px);
  margin-bottom: -100vh;
  
}

.project-images__image--landscape {
  -o-object-fit: cover;
  object-fit: cover;
  
}

@media (max-width: 1000px) {
  .project-images__image {
    -o-object-fit: cover;
    object-fit: cover
  }
}

[data-blend-mode=Screen] {
  mix-blend-mode: screen
}

[data-blend-mode=Overlay] {
  mix-blend-mode: overlay
}

[data-blend-mode=Multiply] {
  mix-blend-mode: multiply
}

[data-blend-mode=Lighten] {
  mix-blend-mode: lighten
}

[data-blend-mode=Darken] {
  mix-blend-mode: darken
}

[data-blend-mode="Color Dodge"] {
  mix-blend-mode: color-dodge
}

[data-blend-mode="Color Burn"] {
  mix-blend-mode: color-burn
}

[data-blend-mode="Hard Light"] {
  mix-blend-mode: hard-light
}

[data-blend-mode="Soft Light"] {
  mix-blend-mode: soft-light
}

[data-blend-mode=Difference] {
  mix-blend-mode: difference
}

[data-blend-mode=Exclusion] {
  mix-blend-mode: exclusion
}

.info {
  position: relative;
  z-index: 50;
  /* padding: .25rem */
}

.info__inner {
   background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,1) 100%);

  color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  /* min-height: calc(100vh - .5rem); */
  padding-top: 4rem;
  
   /* mix-blend-mode: overlay; */
}

.persons {
  display: flex;
  text-align: center
}

@media (max-width: 650px) {
  .persons {
    flex-direction: column;
    gap: .25rem
  }
}

.persons__person {
  flex: 1 1 auto
}


.info-text {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.index {
  text-align: center;
}

.index__header {
  margin: 1rem;
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

.index__list {
  display: flex;
  flex-direction: column
}

.drawer-item__header {
  color: var(--grey);
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  pointer-events: none;
}

.drawer-item__header * {
  white-space: nowrap
}

.drawer-item__header .category {
  min-width: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drawer-item__content {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* color: black; */
   color: var(--white)
}

.drawer-item__content>*:last-child {
  margin-bottom: .25rem
}

.drawer-item--with-content .drawer-item__header {
  pointer-events: all;
  color: var(--white);
  filter: blur(0px); 
  transition: 0.3s;
}

.drawer-item--with-content .drawer-item__header:hover {
  filter: blur(2px);
}

.drawer-item--with-content .drawer-item__header:after {
  width: .5rem;
  text-align: center;
  content: "+";
}

.drawer-item--open {
  /* background-color: var(--white); */
  
}

.drawer-item--open .drawer-item__header {
  color: var(--darkGrey);
  padding-bottom: 1rem;
}

.drawer-item--open .drawer-item__header:after {
  content: "\2013";
  opacity: 1
}

.drawer-item--open .drawer-item__content  {
  visibility: visible;
  height: auto;
  /* background: rgba(0, 0, 0, 0.5); */
  /* background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%); */
  padding-top: 1em;
}

.year{
  font-family: "BlurWeb-Bold W03 Regular";
  font-size: 0.8rem;
}
#border {
border:solid 2px #41403E;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
}

.scrollButton {
filter: blur(0px); 
transition: 0.3s;
  cursor: pointer;
  /* font-weight: bolder; */
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  font-size: 1.2rem;
}
.scrollButton:hover {
  filter: blur(2px);
  cursor: pointer;
  /* cursor: pointer; */
  
}

.footer {
  text-align: center;
  margin-top: auto;
  padding-top: 3rem;
}

.nav-item__content {
  align-items: flex-start
}

/*# sourceMappingURL=style.css.map */
p {
  font-family: "MagdaWeb W03 Regular";
  font-weight: 400;
  font-style: normal;
  font-size: .7rem;
  padding: 0px 10% 0px 10%;
  text-align: center;
  /* mix-blend-mode: difference; */
}
#about p{
  padding: 0px 20% 0px 20%;
}
.macron {
  content: "\0304";
  margin-left: -8px;
  color: black;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
padding: 16px;
text-align: center;

}
.person a {
   color: var(--grey);
  transition: color 0.3s;
}
.person a:hover {
   color: blue;
}
.card a {

    color: var(--grey);
  font-family: "BlurWeb-Light W03 Regular";
  font-weight: 400;
  font-style: normal;
  font-size: .7rem;
  /* filter: drop-shadow(3px 3px 5px #0040ff); */
}

.quote {
   font-family: "MagdaWeb W03 Regular";
  margin: 0;
  /* border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding:1em;
  line-height:1.5em;
  background-color: black; */
  font-weight: 400;
  font-style: normal;
  font-size: .7rem;
}
audio::-webkit-media-controls-panel {
  background-color: #ffffff;
  margin: 0;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding:1em;
  line-height:1.5em;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}

.container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */

}
.column-1 {
   margin: auto;
  width: 50%;
  padding: 0 10px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 12px; */
  
}
@media screen and (max-width: 600px) {
  .column-1 {
    width: 95%; 
  }
}

.iconBar {
   position: fixed;
   left: 20%;
   bottom: 0;
   width: 60%;
   /* background-color: red; */
   color: white;
   text-align: center;
  z-index: 2000;

}
.iconBar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  font-size: 1.2em;
  filter: blur(0px);
  transition: filter 0.3s;
   z-index: 2000;
}

 .iconBar a:hover {
   filter: blur(3px);
}

@media screen and (max-width: 600px) {
  .iconBar a {
    font-size: 1.5em;
  }
}
#topBtn {
  display: none;
  font-family: "BlurWeb-Light W03 Regular";
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 2000;
  font-size: 1.2em;
  border: none;
  outline: none;
  color: white;
  mix-blend-mode: difference;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  filter: blur(0px);
  transition: filter 0.3s;
}

#topBtn:hover {
   color: black;
   filter: blur(3px);

}

